@font-face {
    font-family: 'LemonMilkItalic';
    src: url(fonts/LEMONMILK-RegularItalic.otf);
}
@font-face {
    font-family: 'LemonMilkItalicBold';
    src: url(fonts/LEMONMILK-BoldItalic.otf);
}
@font-face {
    font-family: 'ButlerLight';
    src: url(fonts/Butler_Light.otf) format(opentype);
}
@font-face {
    font-family: 'ButlerRegular';
    src: url(fonts/Butler_Regular.otf) format(opentype);
}

:root {
    --dark:#252526;
    --darkgreen: #5A5F49;
    /* --light: #E0D6CC; */
    --light: #f1e7d1;

}

#site{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 4fr auto;
    grid-template-areas:
        "title title"
        "selector drink-content"
        "recipe recipe"
}


body {
    background-color: var(--light);
    color: var(--dark);
    font-family: 'ButlerLight';
}

h1 {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    font-family: 'LemonMilkItalicBold';
    font-size: 500%;
    width: 100%;
    margin: 0px;
    padding: 10px;
    grid-area: title;
}

#drink-select p {
    font-family: 'ButlerLight';
    font-size: 200%;
    padding: 10px;
}

#drink-select{
    margin-left: 10px;
    grid-area: selector;
    border: 3px solid var(--dark);
    margin-top: 20px;
    max-height: 100%;
    width: auto;
}
#drink-select img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: auto;
    margin-bottom: 5px;
}

/* .smaller{
    height: 30%;
    width: auto;
} */
/* #liquor-selector label{
    font-family: 'LemonMilkItalic';

} */

#drinkDisplay{
    /* grid-area: drink-content; */
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

#recipeDisplay{
    grid-area: recipe;
    background-color: var(--dark);
    color: var(--light);
    margin: 10px;
}

#recipeDisplay h2{
    font-family: 'LemonMilkItalicBold';
    float: right;
    margin-right: 10px;
}

#recipeDisplay li{
    font-family: 'LemonMilkItalic';
    font-size: 145%;
}

#recipeDisplay p{
    font-family: 'ButlerLight';
    font-size: 175%;
    margin-left: 10px;
}


#liquor-selector{
    font-size: 125%;
    padding: 20px;
}

#drinkDisplay img{
    width: 20%;
    border-radius: 8px;
}



input[type=submit] {
    margin-top: 10px;
    padding:5px 15px; 
    background: var(--light); 
    border-color: var(--darkgreen);
    border: 1;
    font-size: 100%;
    font-family: 'LemonMilkItalic';
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.card{
    margin: auto;
    size: 100%;
}

.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500%;
    height: auto;
}

.card h3{
    text-align: center;
    font-family: 'LemonMilkItalic';
}